body{
    margin: 0;
}
.col {
    /*background-color: rgba(1, 255, 128, 0.904);*/
    background-image: url(imagens/LRM_20230503_061049.jpg);
    background-repeat:round;
}
.minha-cor {
    /*background-color: rgba(251, 0, 0, 0.582);*/
    background-image: url(imagens/LRM_20230503_061049.jpg);
    background-repeat:round;
}
#home {
    margin-top: 0;
    height: 100vh;
    /*background-color: #dddddd;*/
    background-image: url(imagens/LRM_20230503_061049.jpg);
    background-repeat:round;
    position: relative;
}
#sobre {
    height: 100vh;
    /*background-color: rgb(255, 157, 0);*/
    background-image: url(imagens/LRM_20230503_061049.jpg);
    background-repeat:round;
}
#producoes {
    height: 100vh;
    /*background-color: rgb(0, 255, 26);*/
    background-image: url(imagens/LRM_20230503_061049.jpg);
    background-repeat:round;
}
.producoes {
    height: 100vh;
    /*background-color: rgb(0, 255, 26);*/
    background-image: url(imagens/LRM_20230503_061049.jpg);
    background-repeat:round;
}
#videos {
    height: 100vh;
    /*background-color: rgb(255, 0, 157);*/
    background-image: url(imagens/LRM_20230503_061049.jpg);
    background-repeat:round;
    position: relative;
}
#rodape {
    height: 30vh;
    background-image: url(imagens/LRM_20230503_061049.jpg);
    background-repeat: round;
    text-align: center;
    color: rgb(232, 207, 255);
    padding-top: 5vh;
    padding-bottom: 5vh;
}
#link-rodape {
    position: fixed;
    font-size: 30pt;
    bottom: 0;
    right: 0;
}
.fotinho{
    border-radius: 100%;
    max-width: 4vw;
    max-height: 4vw;
    width: auto;
    height: auto;
}
.fotinha{
    border-radius: 100%;
    max-width: 6vw;
    max-height: 6vw;
    width: auto;
    height: auto;
}
.perfil{
    border-radius: 100%;
    max-width: 12vw;
    max-height: 12vw;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
}
.nav-link{
    border: none;
    text-align: center;
    text-decoration: none;
    font-family: fantasy;
}
.nav-link:hover {
    text-decoration: underline;
    border: solid black;
}
.navbar-nav{
    margin: 0;
    padding-left: 70px;
    padding-right: 50px;
    background-color: rgba(38, 0, 63, 0.678);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#nome{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
    color: rgba(107, 0, 179, 0.911);
}
.esquerda {
    width: 25%;
    /*background-color: darkgray;*/
    display: inline-block;
    float: left;
    margin-top: 100px;
}
.meio {
    width: 75%;
    /*background-color: darkgray;*/
    display: inline-block;
    position: relative;
}
#lista {
    position: absolute;
    top: 55%;
    left: 69%;
    transform: translate(-50%, -50%);
    color: rgb(232, 207, 255);
    font-family: fantasy;
    text-align: center;
}
h3{
    position: absolute;
    top: 25%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: rgba(107, 0, 179, 0.911);
    font-family: fantasy;
}
.eu{
    border-radius: 20%;
    max-width: 20vw;
    max-height: 20vw;
    width: auto;
    height: auto;
    margin: 0;
    margin-top: 14%;
}
#sla {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: rgb(232, 207, 255);
    text-align: justify;
}
#tituloum {
    position: absolute;
    top: 25%;
    left: 8.5%;
    transform: translate(-50%, -50%);
    color: rgba(107, 0, 179, 0.911);
    text-align: left;
    font-family: fantasy;
}
.you {
    max-width: 60%;
    max-height: 60%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -60%);
    border: solid white;
}
.ratio{
    position: relative;
}
#trabalho {
    display: inline-block;
    margin-top: 10%;
    margin-left: 0%;
    float: left;
    color: rgba(107, 0, 179, 0.911);
}
.direita {
    width: 25%;
    display: inline-block;
    float: right;
}
#mais {
    display: inline-block;
    margin-top: -90px;
    margin-left: 74%;
    float: right;
    color: rgba(107, 0, 179, 0.911);
    font-size: 300%;
}
.prod {
    font-family: fantasy;
    text-decoration: none;
    color: rgb(232, 207, 255);
}
.videozinhos {
    max-width: 80%;
    max-height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid white;
}
#montagem {
    max-width: 80%;
    max-height: 80%;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid white;
    position: absolute;
}
#ver {
    max-width: 500px;
    max-height: 500px;
    height: auto;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid white;
    position: absolute;
    color: rgb(232, 207, 255);
    font-size: 50pt;
    text-align: center;
    text-decoration: none;
}
.dis {
    display: inline-block;
}